<div class="columns is-multiline">
  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/timnit_gebru.jpg" alt="Dr. Timnit Gebru">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                26th Oct
              </span>
            </div>
        </div>
        <footer class="card-footer card-footer-padding:0rem">
            <a class="card-footer-item" href="speakers#timnit_gebru">
              Dr. Timnit Gebru
            </a>
        </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/yoshua_bengio.jpg" alt="Prof. Yoshua Bengio">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                3rd Nov
              </span>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="speakers#yoshua_bengio">
              Prof. Yoshua Bengio
            </a>
        </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/hannah_kerner.jpg" alt="Prof. Hannah Kerner">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                11th Nov
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#hannah_kerner">
            Prof. Hannah Kerner
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/max_welling.jpg" alt="Prof. Max Welling">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                14th Nov
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#max_welling">
            Prof. Max Welling
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/regina_barzilay.jpg" alt="Prof. Regina Barzilay">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                21st Nov
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#regina_barzilay">
            Prof. Regina Barzilay
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/david_rolnick.jpg" alt="Prof. David Rolnick">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                24th Nov
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#david_rolnick">
            Prof. David Rolnick
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/sara_beery.jpg" alt="Dr. Sara Beery">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                5th Dec
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#sara_beery">
            Dr. Sara Beery
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/michael_bronstein.jpg" alt="Prof. Michael Bronstein">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                TBA
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#michael_bronstein">
            Prof. Michael Bronstein
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/anna_goldenberg.jpg" alt="Prof. Anna Goldenberg">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                8th Dec (in person)
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#anna_goldenberg">
            Prof. Anna Goldenberg
          </a>
      </footer>
    </div>
  </div>

  <div class="column is-one-fifth-desktop is-half-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-square">
              <img src="assets/img/speakers/alexei_efros.jpg" alt="Prof. Alexei Efros">
            </figure>
            <div class="card-content is-overlay is-clipped">
              <span class="tag is-primary">
                TBA
              </span>
            </div>
        </div>
      <footer class="card-footer">
          <a class="card-footer-item" href="speakers#alexei_efros">
            Prof. Alexei Efros
          </a>
      </footer>
    </div>
  </div>



</div>
