
<div class="columns container">
  <div class="column"></div>
  <div class="column is-four-fifths">
    <div class="card" id="{{ speaker.photo | replace: ".jpg" "" }}">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              {% if speaker.photo != "none" %}
              <img src="assets/img/speakers/{{ speaker.photo }}" alt="{{ speaker.alttext }}">
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ speaker.fullname }}</p>
            <p class="subtitle is-6">{{ speaker.pronouns }}</p>
            <p class="subtitle is-6">{{ speaker.position }}</p>
            <p class="subtitle is-7">{{ speaker.affiliations | join: " · " }}</p>
          </div>
        </div>
        <div class="content">
          {% if speaker.bio %}
            <details>
              <summary><strong>Bio</strong></summary>
                {{ speaker.bio }}
            </details>
          <br>
          {% endif %}
          {% if speaker.title %}
          {% endif %}
          {% if speaker.abstract %}
            <details>
              <summary><span class="title is-5">{{ speaker.title }}</span></summary>
                {{ speaker.abstract }}
            </details>
          {% else %}
          <p class="title is-5">{{ speaker.title }}</p>
          {% endif %}
          {% capture talk %}
            {% if speaker.session == "inperson" %}
              <a href="schedule"><em>Mila: Thursday, December 8th, {{ speaker.time }} (EST)</em></a>
            {% elsif speaker.session == "virtual" %}
              {% assign date = site.data.datesdict | where: "code", speaker.date | first %}
              <a href="schedule"><em>Online series: {{ date.readable }}, {{ speaker.time }} (UTC)</em></a>
            {% endif %}
          {% endcapture %}
          <p class="subtitle is-6">{{ talk }}</p>
          <br>
          {% for tag in speaker.tags %}
            <a class="tag" href="{{ tag.link }}">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
	</div>
  <div class="column"></div>
</div>
