
<div class="columns container">
  <div class="column"></div>
  <div class="column is-four-fifths">
    <div class="card" id="{{ person.photo | replace: ".jpg" "" }}">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              {% if person.photo != "none" %}
              <img src="assets/img/speakers/{{ person.photo }}" alt="{{ person.alttext }}">
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ person.fullname }}</p>
            <p class="subtitle is-6">{{ person.pronouns }}</p>
            {% for affiliation in person.affiliations %}
              <p class="subtitle is-7">{{ affiliation }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="content">
          {% if person.bio %}
            <details>
              <summary><strong>Bio</strong></summary>
                {{ person.bio }}
            </details>
          <br>
          {% endif %}
          {% if person.title %}
          {% endif %}
          {% if person.abstract %}
            <details>
              <summary><span class="title is-5">{{ person.title }}</span></summary>
                {{ person.abstract }}
            </details>
          {% else %}
          <p class="title is-5">{{ person.title }}</p>
          {% endif %}
          <br>
          {% if person.website %}
            <a class="tag" href="{{ person.website }}">Website</a>
          {% endif %}
          {% if person.twitter %}
            <a class="tag" href="{{ person.twitter }}">Twitter</a>
          {% endif %}
        </div>
      </div>
    </div>
	</div>
  <div class="column"></div>
</div>
