<table class="table is-hoverable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time (UTC)</th>
      <th>Speaker(s)</th>
      <th>Title</th>
      <th>Stream</th>
    </tr>
  </thead>
  <tbody>
    {% assign allspeakers = site.data.speakers | where: "session", "virtual" %}
    {% assign dates = allspeakers | where: "session", "virtual" | map: "date" | uniq | sort %}
    {% for date in dates %}
      {% assign speakers = allspeakers | where: "date", date %}
      {% capture speakernames %}
        {% for speaker in speakers | sample: speakers.size %}
          <a href="speakers#{{ speaker.photo | replace: ".jpg" "" }}">{{ speaker.fullname }}</a>
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
      {% endcapture %}
        <tr>
          {% assign datereadable = site.data.datesdict | where: "code", date | first %}
          <td>{{ datereadable.readable }}</td>
          <td><a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=AI+Helps+Ukraine&iso={{ date }}T{{ speakers.first.time | split: ":" | first }}{{ speakers.first.time | split: ":" | last }}00">{{ speakers.first.time }}</a></td>
          <td>{{ speakernames }}</td>
          {% capture eventtitle %}
            {% if speakers.first.title %}
              {% if speakers.first.abstract %}
                <details>
                  <summary>{{ speakers.first.title }}</summary>
                  {{ speakers.first.abstract }}
                </details>
                {% else %}
                  {{ speakers.first.title }}
              {% endif %}
            {% endif %}
          {% endcapture %}
          <td>{{ eventtitle }}</td>
          {% capture streams %}
            {% if speakers.first.streams %}
              {% for stream in speakers.first.streams %}
              <a href="{{ stream.link }}">{{ stream.name }}</a>
                {% if forloop.last == false %} | {% endif %}
              {% endfor %}
            {% endif %}
          {% endcapture %}
          <td>{{ streams }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
