---
layout: page
---

<!-- Scripts to get the values for donation progress bar from a google sheet -->
<!-- Code inspired by documentation from https://github.com/jsoma/tabletop/blob/master/examples/simple/no-tabletop.html -->
<script src="/assets/js/papaparse.js"></script>

<script type="text/javascript">
    var public_spreadsheet_url = "{{ site.data.settings.donations.spreadsheetURL | json }}";

    // Get the data from the google sheet
    function init() {
        Papa.parse(public_spreadsheet_url, {
                download: true,
                header: true,
                complete: showInfo
            }
        )
    }

    // When everything is loaded, run the init function
    window.addEventListener("DOMContentLoaded", init)

    // Set the attributes and content of the tag whith id="donation-progress-bar"
    function showInfo(results) {
        document.getElementById("donation-progress-bar").setAttribute("value", [results.data[0].total])
        document.getElementById("donation-progress-bar").setAttribute("max", "{{ site.data.settings.donations.target | json }}")
        document.getElementById("donation-progress-bar").innerHTML = [results.data[0].totalText]+" CAD out of {{ site.data.settings.donations.targetText | json }} CAD"
        document.getElementById("donation-text").innerHTML = "So far, we have collected "+[results.data[0].totalText]+" CAD out of {{ site.data.settings.donations.targetText | json }} CAD"
        console.log(results.data);
    }
</script>

<!-- Create button color:#FFDA03 -->
<!-- "/donate.html" -->
<a href="https://www.paypal.com/donate?campaign_id=RV9EZH4UPSA5A" style="position:fixed;width:150px;height:75px;bottom:10%;right:5%;background-color:#ffda03;border-radius:200px;box-shadow: 2px 2px 3px #999;z-index:2">
  <div style="margin-top:20px;text-align:center;color:#005bbb;font-size:20px;font-weight:1000">
    Donate
  </div>
</a>

<!-- Content -->
{{ content }}
